* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.title {
  font-size: 40px;
  color: #2b9f2b;
  margin-top: 25vh;
}
.header {
  padding: 0.5rem;
  background: #383c3d;
  position: sticky;
  top: 0;
  z-index: 1;
}
.hero-image {
  animation-duration: 2s;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    ),
    url("../img/Fondoinicio.jpg");
  max-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 50vh;
}
.banner__h1 {
  animation-duration: 2s;
  animation-name: aparecer;
  font-size: 60px;
}
.baner__h5 {
  animation-duration: 2s;
  animation-name: aparecer;
  font-size: 20px;
  color: #2b9f2b;
}

.item__img {
  width: 150px;
}
.informacion__h4 {
  color: #2b9f2b;
  font-size: 25px;
}
.informacion__img {
  width: 500px;
  height: 20%;
}
.form {
  line-height: 2rem;
  padding-left: 20%;
}
.form label {
  color: #2b9f2b;
  font-size: 20px;
}
.form__input {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  width: 80%;
  padding: 5px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #2b9f2b;
}
.form__mensaje {
  border: 1px solid #2b9f2b;
}
.form__select {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 5px 29%;
  background: none;
  border: 1px solid #2b9f2b;
}
.form__btn {
  padding: 5px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background: none;
  border: 1px solid #2b9f2b;
  color: #2b9f2b;
  cursor: pointer;
  transition: all 0.3s;
}
.form__btn:hover {
  background: #383c3d;
  color: #2b9f2b;
  border: none;
}
.logo {
  width: 20%;
}
.nav__a {
  color: #2b9f2b;
}
.nav-item :hover {
  transition: all 0.5s ease-in-out;
  color: white;
}
.footer {
  background: #383c3d;
  padding: 1rem;
}
.footer__h3 {
  color: #2b9f2b;
}

.footer__li {
  font-size: 3rem;
  color: white;
  padding: 3rem;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
