/* ASIGNACION DE VARIABLES */
$black: #383c3d;
$green: #2b9f2b;
/* ESTILO DE FOOTER */
.footer {
  background: $black;
  .footer__h3 {
    color: $green;
  }
  .footer__li {
    font-size: 3rem;
    color: white;
  }
  p {
    margin-bottom: 0%;
  }
}
