$fontsize: 60px;
.form {
  line-height: 2rem;
  padding-left: 20%;
  label {
    color: #2b9f2b;
    font-size: ($fontsize)-40;
  }
  .form__input {
    font-family: "Open Sans", sans-serif;
    font-size: ($fontsize/2)-15;
    width: 80%;
    padding: ($fontsize/3)-15;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid $green;
    
  }
  .form__mensaje {
    border: 1px solid $green;
  }
  .form__select {
    font-family: "Open Sans", sans-serif;
    font-size: ($fontsize/2)-15;
    padding: 5px 29%;
    background: none;
    border: 1px solid $green;
  }
  .form__btn {
    padding: 5px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: ($fontsize/2)-15;
    background: none;
    border: 1px solid $green;
    color: $green;
    cursor: pointer;
    transition: all 0.3s;
  }
  .form__btn:hover {
    background: $black;
    color: $green;
    border: none;
  }
}
